/MSGbyDayPlot.png
/MSGbyHourPlot.png
/MSGbyMonthPlot.png
/WordsByHourPlot.png
/WordsByMonthPlot.png
/Output.txt
/Jupyter_testing.ipynb
/.ipynb_checkpoints/
/__pycache__
/.idea
/src/person/__pycache__
